.artshow-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artshow-h4 {
  color: $light-color;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.artshow-image-container {
  border: 2px white solid;
  width: 70%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
}

.artshow-italics {
  padding-top: 10px;
  font-style: italic;
  font-size: 0.9rem;
}
// portrait.jsx

.artshow-container-portrait {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.artshow-image-container-portrait {
  border: 2px rgb(255, 255, 255) solid;
  margin: auto;
  width: 50%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}
