.menu_button_fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: $light-color;
  border: none;
  padding: 0 0.3rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 300 !important;
}

.a-menu {
  padding: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button-container {
  color: $light-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;

  z-index: 1113;
  position: fixed;
  top: 10px;
  right: 10px;
  color: $light-color;
  border: none;
  padding: 0;

  cursor: pointer;
  outline: inherit;
  font-size: 1.4rem;
  font-weight: 300 !important;
}

.circle_menu_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 950;
  pointer-events: none;
}

.svg_circle {
  width: 100vw;
  height: 100vh;
  z-index: 1100;
}

.menu_container {
  display: flex;
  position: fixed;
  top: -15%;
  width: 100vw;
  height: 100vh;
  z-index: 1112;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu_main_list {
  z-index: 1112;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;

  li {
    font-size: 2rem;
    padding: 0.1rem;
    text-align: right;
    text-decoration: none;
    z-index: 1200;
    cursor: pointer;
  }

  li:hover {
    color: white;
  }
}

.social-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 501px) {
  .menu_main_list {
    li {
      font-size: 2rem;
    }

    li:hover {
      color: white;
    }
  }
  .menu_button_fixed {
    font-size: 1rem;
  }

  .menu-button-container {
    font-size: 1rem;
  }
}
