.canvas {
  height: 100vh;
}

.chat_container {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  font-size: 0.8rem;
  width: 300px;
}

.menu-tab-container {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  font-size: 0.8rem;
  width: 80px;
  height: 30px;
  background-color: $dark-color;
  border: black 1px solid;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.chat_tab {
  background-color: $dark-color;
  border: black 1px solid;
  border-radius: 4px 4px 0 0;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat_bg {
  background-color: rgba(39, 39, 39, 0.548);
  border: black 1px solid;
  border-radius: 0 4px 4px 4px;
}

.chat_enter {
  font-family: inherit;
  width: 100%;
  border: 0;
  padding-left: 3px;
  outline: 0;
  color: rgb(207, 207, 207);
  background: transparent;
  transition: border-color 0.2s;
}

.individual_chat {
  padding-left: 3px;
  overflow-wrap: break-word;
}

.menu-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100vh;
  width: 20vw;
  background-color: rgba(248, 248, 248, 0.178);
  border: rgba(248, 248, 248, 0.418) 1px solid;
}

.card {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(39, 39, 39, 0.548);
  padding: 0;
  margin: 0;
  opacity: 0;
  /* transform: translateX(15px); */
  transition: opacity 1s ease, transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.in.visible {
  opacity: 1;
  /* transform: translateX(0); */
}

.inner-menu-container {
  background-color: $dark-color;
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.color-picker-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-items-container {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
}

.menu-close-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.menu-close-button {
  align-self: flex-end;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
}

.username-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  padding: 15px 0 0;
  margin: 0 auto;
  width: 80%;
}

.instructions-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  h4 {
    font-weight: 200;
    margin: 0.2rem;
    margin-top: 2rem;
  }
  p {
    font-size: 1rem;
    margin: 0.2rem;
  }
}

.instructions-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  z-index: 2000;
}

.instructions-inner-container {
  background-color: black;
  width: 60%;
  height: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//input styling

.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 1rem;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 0;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
