.h1-mint {
  font-size: 7rem;
  font-weight: 600;
  margin: 80px 0 0 0;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0);
}

.description {
  width: 90%;
  max-width: 1200px;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
  color: $light-color;
}

.description > a {
  color: $dark-color;
  text-decoration: none;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 28px;
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
  color: $dark-color;
}

.list-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  h4 {
    margin: 0 0 20px 0;
    font-size: 1.3rem;
    font-weight: 200;
    color: $light-color;
  }
}

.ul-mint {
  justify-self: start;
  padding-left: 50px;
}

.selectBoxDescription {
  color: $dark-color;
  margin-top: 0px;
  max-width: 450px;
  margin-top: 8px;
}

.optionSelectBox {
  justify-self: center;
  border-radius: 16px;
  border: 1px solid #ccc;
  background-color: $light-color;
  width: 80%;
  min-height: 250px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    width: 90%;
    max-width: 95vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 28px;
  }
  .optionSelectBox {
    width: 90%;
    height: 90%;
    margin-top: 16px;
  }

  .description {
    width: 90%;
    max-width: 500px;
  }
}
